<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="registerCSS.css" />
    <title>register</title>
  </head>
  <body>
    <div class="main">
      <div class="main">
        <div class="form">
          <div class="first">
            <h1>Register</h1>
          </div>
          <div class="second">
            <div class="email">
                <div>
                    <h2>Enter your email</h2>
                </div>
                <div>
                    <input type="email" placeholder="someone@email.com"/>
                </div>
                
            </div>
            <div class="password">
                <div class="newPassword">
                    <h2>Enter password</h2>
                </div>
                <div class="confirmPassword">
                    <h2>Confirm password</h2>
                </div>
            </div>
          </div>
          

          <div class="third"></div>
        </div>
      </div>
    </div>
  </body>
</html>
